In [1]:
import pandas as pd
import numpy as np
import sys
import os
import json
import ast
# Get the parent directory of the current file (notebook)
parent_dir = os.path.abspath(os.path.join(os.getcwd(), '..'))
# Add the parent directory to sys.path
sys.path.append(parent_dir)

# distances_df

In [2]:
distances_df = pd.read_csv(f"{parent_dir}/data/ground_truth_distances.csv")
distances_df.head()

,תמונה 1,תמונה 2,תמונה 3,תמונה 4,תמונה 5,תמונה 6,תמונה 7,תמונה 8,תמונה 9,תמונה 10,תמונה 11,תמונה 12,תמונה 13,תמונה 14,file_name,label
0,0.566962,0.585865,0.654433,0.522563,0.516626,0.628582,0.669026,0.661970,0.587222,0.572410,0.614919,0.600058,0.549366,0.589052,ש16.docx,0
1,0.525855,0.631806,0.580592,0.549767,0.557294,0.536219,0.681729,0.648934,0.599493,0.605749,0.527505,0.592921,0.519440,0.609815,י20.docx,0
2,0.542138,0.628878,0.622527,0.510161,0.540841,0.616226,0.648178,0.661125,0.626441,0.633731,0.600327,0.580142,0.526667,0.624867,ש4.docx,0
3,0.577814,0.577623,0.697502,0.492824,0.459957,0.580962,0.602264,0.627524,0.551496,0.565675,0.540799,0.611534,0.424131,0.544731,י16.docx,0
4,0.520636,0.515395,0.502712,0.499289,0.498142,0.578297,0.633887,0.670567,0.551784,0.614365,0.550647,0.596818,0.517766,0.585009,ש20.docx,0

In [3]:
distances_df.shape

(80, 16)

In [4]:
columns_to_save = ["תמונה 1", "תמונה 4",  "תמונה 6", "תמונה 7", "תמונה 8", "תמונה 9", "תמונה 10",  "תמונה 12",  "תמונה 14"]
distances_df_filtered = distances_df[columns_to_save + ['file_name' ,'label']]

distances_df_filtered.head()

,תמונה 1,תמונה 4,תמונה 6,תמונה 7,תמונה 8,תמונה 9,תמונה 10,תמונה 12,תמונה 14,file_name,label
0,0.566962,0.522563,0.628582,0.669026,0.661970,0.587222,0.572410,0.600058,0.589052,ש16.docx,0
1,0.525855,0.549767,0.536219,0.681729,0.648934,0.599493,0.605749,0.592921,0.609815,י20.docx,0
2,0.542138,0.510161,0.616226,0.648178,0.661125,0.626441,0.633731,0.580142,0.624867,ש4.docx,0
3,0.577814,0.492824,0.580962,0.602264,0.627524,0.551496,0.565675,0.611534,0.544731,י16.docx,0
4,0.520636,0.499289,0.578297,0.633887,0.670567,0.551784,0.614365,0.596818,0.585009,ש20.docx,0

In [5]:
distances_df_filtered.rename(columns={"file_name": "person"}, inplace=True)

/var/folders/qw/xg8gc9qd673350wtlpq7lzmm0000gn/T/ipykernel_38823/988363631.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distances_df_filtered.rename(columns={"file_name": "person"}, inplace=True)

In [6]:
# distances_df_filtered.to_csv(f"{parent_dir}/data/ground_truth_distances_4model.csv")

# attention

In [7]:
yap_df = pd.read_csv(f"{parent_dir}/data/morphological_yap_features.csv")
yap_df.head()

,answer,question,label,person,attention_scores_per_sentence,tf_idf_seg_txt,tf_idf_tok_txt,lda_seg_txt,lda_tok_txt,agg_yap_features_vec,count_vec,tokenized_text,segmented_text,lemmas
0,טוב אז יש פה ילד שהמשפחה שלו קנתה לו כינור במת...,תמונה 1,0,ש16.docx,[0.7783406376838684],"[('אבל', 0.15075567228888181), ('או', 0.075377...","[('אבל', 0.23570226039551587), ('או', 0.117851...","[[0.021653866112924698, 0.021653866112924698, ...","[[0.015573562975951668, 0.015573562975951668, ...","[7, 5, 2, 0, 0, 2, 24, 13, 8, 0, 0, 0, 0, 1, 5...","[('אבל', 2), ('או', 1), ('אז', 1), ('אחרי', 1)...",טוב אז יש פה ילד שהמשפחה שלו קנתה לו כינור במת...,טוב אז יש פה ילד ש ה משפחה של הוא קנתה ל הוא כ...,טוב אז יש פה ילד ש ה משפחה של הוא קנה ל הוא כי...
1,"טוב אז פה רואים מישהי שנפרדה מהבן זוג שלה. זה,...",תמונה 2,0,ש16.docx,"[0.5993766784667969, 0.7054241895675659]","[('אבל', 0.10783277320343841), ('אז', 0.215665...","[('אבל', 0.13483997249264842), ('אז', 0.269679...","[[0.018820705337730198, 0.018820705337730198, ...","[[0.016697090229648905, 0.016697090229648905, ...","[6, 7, 2, 0, 0, 2, 4, 13, 9, 0, 0, 0, 0, 1, 13...","[('אבל', 1), ('אז', 2), ('אמא', 1), ('בגלל', 1...",טוב אז פה רואים מישהי שנפרדה מהבן זוג שלה . זה...,טוב אז פה רואים מישהי ש נפרדה מ ה בן זוג של הי...,טוב אז פה ראה מישהו ש נפרד מ ה בן זוג של היא ....
2,"יש פה מישהו בעצם לא, זה נראה מישהי. שהיא בוכה,...",תמונה 3,0,ש16.docx,"[0.4926903247833252, 0.6418799757957458, 0.614...","[('אבל', 0.08451542547285165), ('או', 0.084515...","[('אבל', 0.1091089451179962), ('או', 0.1091089...","[[0.8475059887235667, 0.01694377903071479, 0.0...","[[0.014064535025143187, 0.014064535025143187, ...","[5, 18, 0, 0, 0, 0, 8, 10, 19, 2, 0, 0, 1, 1, ...","[('אבל', 1), ('או', 1), ('אז', 1), ('אחר', 1),...","יש פה מישהו בעצם לא , זה נראה מישהי . שהיא בוכ...","יש פה מישהו בעצם לא , זה נראה מישהי . ש היא בו...","יש פה מישהו בעצם לא , זה נראה מישהו . ש הוא בכ..."
3,"טוב זה נראה כמו דמויות משנות ה60 כזה, לא יודעת...",תמונה 4,0,ש16.docx,"[0.4476194381713867, 0.5609590113162994]","[('אבל', 0.12803687993289598), ('אחר', 0.12803...","[('אבל', 0.14002800840280097), ('אחר', 0.14002...","[[0.01600128103365193, 0.01600128103365193, 0....","[[0.014834294046299002, 0.014834294046299002, ...","[8, 20, 2, 0, 0, 2, 3, 12, 1, 2, 0, 1, 2, 1, 1...","[('אבל', 1), ('אחר', 1), ('את', 1), ('בבית', 1...","טוב זה נראה כמו דמויות משנות ה כזה , לא יודעת ...","טוב זה נראה כמו דמויות מ שנות ה כ ה זה , לא יו...","טוב זה נראה כמו דמות מ שנה ה כ ה זה , לא ידע מ..."
4,"יש פה מישהי בבית שלה, היא קמה עכשיו משינה. היא...",תמונה 5,0,ש16.docx,"[0.6772888898849487, 0.675305038690567, 0.4762...","[('אולי', 0.08451542547285165), ('אז', 0.08451...","[('אולי', 0.10783277320343841), ('אז', 0.10783...","[[0.02119247360996224, 0.02119247360996224, 0....","[[0.01808658677921364, 0.01808658677921364, 0....","[4, 10, 0, 0, 0, 0, 10, 7, 17, 2, 0, 0, 2, 1, ...","[('אולי', 1), ('אז', 1), ('אחר', 1), ('אצלה', ...","יש פה מישהי בבית שלה , היא קמה עכשיו משינה . ה...","יש פה מישהי ב בית של היא , היא קמה עכשיו מ שינ...","יש פה מישהו ב בית של היא , הוא קם עכשיו מ שינה..."

In [8]:
yap_df.shape

(1433, 14)

In [9]:
yap_df['attention_scores_per_sentence'] = yap_df['attention_scores_per_sentence'].apply(eval)

# Compute mean attention score per row
yap_df['mean_attention_score'] = yap_df['attention_scores_per_sentence'].apply(np.mean)
yap_df.head()

/Users/roy/Desktop/python_env/Schizophrenic_Speech/lib/python3.11/site-packages/numpy/_core/fromnumeric.py:3596: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/Users/roy/Desktop/python_env/Schizophrenic_Speech/lib/python3.11/site-packages/numpy/_core/_methods.py:138: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

,answer,question,label,person,attention_scores_per_sentence,tf_idf_seg_txt,tf_idf_tok_txt,lda_seg_txt,lda_tok_txt,agg_yap_features_vec,count_vec,tokenized_text,segmented_text,lemmas,mean_attention_score
0,טוב אז יש פה ילד שהמשפחה שלו קנתה לו כינור במת...,תמונה 1,0,ש16.docx,[0.7783406376838684],"[('אבל', 0.15075567228888181), ('או', 0.075377...","[('אבל', 0.23570226039551587), ('או', 0.117851...","[[0.021653866112924698, 0.021653866112924698, ...","[[0.015573562975951668, 0.015573562975951668, ...","[7, 5, 2, 0, 0, 2, 24, 13, 8, 0, 0, 0, 0, 1, 5...","[('אבל', 2), ('או', 1), ('אז', 1), ('אחרי', 1)...",טוב אז יש פה ילד שהמשפחה שלו קנתה לו כינור במת...,טוב אז יש פה ילד ש ה משפחה של הוא קנתה ל הוא כ...,טוב אז יש פה ילד ש ה משפחה של הוא קנה ל הוא כי...,0.778341
1,"טוב אז פה רואים מישהי שנפרדה מהבן זוג שלה. זה,...",תמונה 2,0,ש16.docx,"[0.5993766784667969, 0.7054241895675659]","[('אבל', 0.10783277320343841), ('אז', 0.215665...","[('אבל', 0.13483997249264842), ('אז', 0.269679...","[[0.018820705337730198, 0.018820705337730198, ...","[[0.016697090229648905, 0.016697090229648905, ...","[6, 7, 2, 0, 0, 2, 4, 13, 9, 0, 0, 0, 0, 1, 13...","[('אבל', 1), ('אז', 2), ('אמא', 1), ('בגלל', 1...",טוב אז פה רואים מישהי שנפרדה מהבן זוג שלה . זה...,טוב אז פה רואים מישהי ש נפרדה מ ה בן זוג של הי...,טוב אז פה ראה מישהו ש נפרד מ ה בן זוג של היא ....,0.652400
2,"יש פה מישהו בעצם לא, זה נראה מישהי. שהיא בוכה,...",תמונה 3,0,ש16.docx,"[0.4926903247833252, 0.6418799757957458, 0.614...","[('אבל', 0.08451542547285165), ('או', 0.084515...","[('אבל', 0.1091089451179962), ('או', 0.1091089...","[[0.8475059887235667, 0.01694377903071479, 0.0...","[[0.014064535025143187, 0.014064535025143187, ...","[5, 18, 0, 0, 0, 0, 8, 10, 19, 2, 0, 0, 1, 1, ...","[('אבל', 1), ('או', 1), ('אז', 1), ('אחר', 1),...","יש פה מישהו בעצם לא , זה נראה מישהי . שהיא בוכ...","יש פה מישהו בעצם לא , זה נראה מישהי . ש היא בו...","יש פה מישהו בעצם לא , זה נראה מישהו . ש הוא בכ...",0.566726
3,"טוב זה נראה כמו דמויות משנות ה60 כזה, לא יודעת...",תמונה 4,0,ש16.docx,"[0.4476194381713867, 0.5609590113162994]","[('אבל', 0.12803687993289598), ('אחר', 0.12803...","[('אבל', 0.14002800840280097), ('אחר', 0.14002...","[[0.01600128103365193, 0.01600128103365193, 0....","[[0.014834294046299002, 0.014834294046299002, ...","[8, 20, 2, 0, 0, 2, 3, 12, 1, 2, 0, 1, 2, 1, 1...","[('אבל', 1), ('אחר', 1), ('את', 1), ('בבית', 1...","טוב זה נראה כמו דמויות משנות ה כזה , לא יודעת ...","טוב זה נראה כמו דמויות מ שנות ה כ ה זה , לא יו...","טוב זה נראה כמו דמות מ שנה ה כ ה זה , לא ידע מ...",0.504289
4,"יש פה מישהי בבית שלה, היא קמה עכשיו משינה. היא...",תמונה 5,0,ש16.docx,"[0.6772888898849487, 0.675305038690567, 0.4762...","[('אולי', 0.08451542547285165), ('אז', 0.08451...","[('אולי', 0.10783277320343841), ('אז', 0.10783...","[[0.02119247360996224, 0.02119247360996224, 0....","[[0.01808658677921364, 0.01808658677921364, 0....","[4, 10, 0, 0, 0, 0, 10, 7, 17, 2, 0, 0, 2, 1, ...","[('אולי', 1), ('אז', 1), ('אחר', 1), ('אצלה', ...","יש פה מישהי בבית שלה , היא קמה עכשיו משינה . ה...","יש פה מישהי ב בית של היא , היא קמה עכשיו מ שינ...","יש פה מישהו ב בית של היא , הוא קם עכשיו מ שינה...",0.609625

In [10]:
columns_to_save = ["mean_attention_score", "question",  "label" , "person"]
scores_per_sentence_df_filtered = yap_df[columns_to_save ]

scores_per_sentence_df_filtered.head()

   mean_attention_score question  label    person
0              0.778341  תמונה 1      0  ש16.docx
1              0.652400  תמונה 2      0  ש16.docx
2              0.566726  תמונה 3      0  ש16.docx
3              0.504289  תמונה 4      0  ש16.docx
4              0.609625  תמונה 5      0  ש16.docx

# word pred llm

In [11]:
file_path = f"{parent_dir}/data/word_pred_llm.json"
with open(file_path, 'r', encoding = 'utf-8') as f:
    data_js = json.load(f)

In [12]:
df_rows = []
for item in data_js:
    file_name = item['file_name']
    label = item['label']
    
    for question, vector in item['questions'].items():
        mean_value = np.mean(vector[1:])  # Calculate mean of the vector
        df_rows.append({
            'file_name': file_name,
            'label': label,
            'question': question,
            'mean_vector': mean_value
        })

word_pred_llm_df = pd.DataFrame(df_rows)
word_pred_llm_df.head()

/Users/roy/Desktop/python_env/Schizophrenic_Speech/lib/python3.11/site-packages/numpy/_core/fromnumeric.py:3596: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/Users/roy/Desktop/python_env/Schizophrenic_Speech/lib/python3.11/site-packages/numpy/_core/_methods.py:138: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

  file_name  label question  mean_vector
0  ש16.docx      0  תמונה 1  2583.518519
1  ש16.docx      0  תמונה 2  2594.520833
2  ש16.docx      0  תמונה 3  2059.044118
3  ש16.docx      0  תמונה 4  2620.714286
4  ש16.docx      0  תמונה 5  1806.111111

In [13]:
word_pred_llm_df.shape

(1440, 4)

In [14]:
word_pred_llm_df.rename(columns={"file_name": "person"}, inplace=True)
word_pred_llm_df.head()

     person  label question  mean_vector
0  ש16.docx      0  תמונה 1  2583.518519
1  ש16.docx      0  תמונה 2  2594.520833
2  ש16.docx      0  תמונה 3  2059.044118
3  ש16.docx      0  תמונה 4  2620.714286
4  ש16.docx      0  תמונה 5  1806.111111

# tf_idf

In [15]:
tf_idf_df = pd.read_csv(f"{parent_dir}/data/morphological_yap_features.csv", index_col=False)
tf_idf_df = tf_idf_df[["question", "label", "person", "tf_idf_seg_txt", "tf_idf_tok_txt", "count_vec"]]
tf_idf_df.head()

,question,label,person,tf_idf_seg_txt,tf_idf_tok_txt,count_vec
0,תמונה 1,0,ש16.docx,"[('אבל', 0.15075567228888181), ('או', 0.075377...","[('אבל', 0.23570226039551587), ('או', 0.117851...","[('אבל', 2), ('או', 1), ('אז', 1), ('אחרי', 1)..."
1,תמונה 2,0,ש16.docx,"[('אבל', 0.10783277320343841), ('אז', 0.215665...","[('אבל', 0.13483997249264842), ('אז', 0.269679...","[('אבל', 1), ('אז', 2), ('אמא', 1), ('בגלל', 1..."
2,תמונה 3,0,ש16.docx,"[('אבל', 0.08451542547285165), ('או', 0.084515...","[('אבל', 0.1091089451179962), ('או', 0.1091089...","[('אבל', 1), ('או', 1), ('אז', 1), ('אחר', 1),..."
3,תמונה 4,0,ש16.docx,"[('אבל', 0.12803687993289598), ('אחר', 0.12803...","[('אבל', 0.14002800840280097), ('אחר', 0.14002...","[('אבל', 1), ('אחר', 1), ('את', 1), ('בבית', 1..."
4,תמונה 5,0,ש16.docx,"[('אולי', 0.08451542547285165), ('אז', 0.08451...","[('אולי', 0.10783277320343841), ('אז', 0.10783...","[('אולי', 1), ('אז', 1), ('אחר', 1), ('אצלה', ..."

In [16]:
# Function to calculate the mean of the numeric part in each string list
def calculate_mean_from_list_string(list_string):
    try:
        parsed_list = ast.literal_eval(list_string)
        numeric_values = [float(item[1]) for item in parsed_list]
        return sum(numeric_values) / len(numeric_values) if numeric_values else None
    except (SyntaxError, ValueError):
        return None

# Apply the function to each column of interest
tf_idf_df['mean_tf_idf_seg_txt'] = tf_idf_df['tf_idf_seg_txt'].apply(calculate_mean_from_list_string)

In [17]:
tf_idf_df_filtered = tf_idf_df[['person' ,'label' ,"question" ,"mean_tf_idf_seg_txt"]]
tf_idf_df_filtered.head()

     person  label question  mean_tf_idf_seg_txt
0  ש16.docx      0  תמונה 1             0.120605
1  ש16.docx      0  תמונה 2             0.154047
2  ש16.docx      0  תמונה 3             0.125690
3  ש16.docx      0  תמונה 4             0.159076
4  ש16.docx      0  תמונה 5             0.116209

# yap

In [ ]:
# here read yap into yap_df

# dimension reduction ground_truth_distances

In [18]:
ground_truth_after_dimension_reduction_df = pd.read_csv(f"{parent_dir}/Data/ground_truth_after_dimension_reduction.csv")
ground_truth_after_dimension_reduction_df.head()

     person  label      TSNE1      TSNE2      TSNE3
0  ש16.docx      0  73.572210 -54.014800  -5.597681
1  י20.docx      0   8.639190  -4.507747  27.915064
2   ש4.docx      0  35.254543  23.839191   8.656634
3  י16.docx      0 -16.296686  57.865910   8.524014
4  ש20.docx      0  95.043050 -13.418912 -19.370310

# merge

In [19]:
raw_data = pd.read_csv(f"{parent_dir}/data/clean_data.csv")
raw_data.head(1)

,תמונה 1,תמונה 2,תמונה 3,תמונה 4,תמונה 5,תמונה 6,תמונה 7,תמונה 8,תמונה 9,תמונה 10,תמונה 11,תמונה 12,תמונה 13,תמונה 14,בר מצווה,מה אוהב לעשות,מה מעצבן,משאלות לעתיד,label,file_name
0,טוב אז יש פה ילד שהמשפחה שלו קנתה לו כינור במת...,"טוב אז פה רואים מישהי שנפרדה מהבן זוג שלה. זה,...","יש פה מישהו בעצם לא, זה נראה מישהי. שהיא בוכה,...","טוב זה נראה כמו דמויות משנות ה60 כזה, לא יודעת...","יש פה מישהי בבית שלה, היא קמה עכשיו משינה. היא...","טוב, רואים פה אמא ובן. היא נראת כמו אמא שלו. ה...","טוב, יש פה אמא ובת. אה, הבת מחזיקה תינוק? מה ה...","אוי, זה נראה שמבצעים ניתוח בבן אדם. יש פה שני ...",טוב יש פה קבוצה של אנשים שהם עייפים אחרי יום ע...,"טוב יש פה מישהו שנראה שהוא ישן, אבל בגלל שמישה...","טוב, יש פה אישה ששוכבת במיטה. וגבר שמפנה לה את...","טוב, יש פה ילד קטן שיושב בכניסה לאיזשהו מבנה. ...","טוב, יש פה כל התמונה שחורה, אבל זה לא נראה שחו...","טוב, יש פה מישהי שבוכה בכניסה לבית שלה. אולי מ...",טוב אז לבת מצווה שלי ההורים שלי עשו לי טיול בה...,"טוב, אז מה שאני אוהבת לעשות זה לאפר, זה מה שאנ...",אז מה שמעצבן אותי זה לקוחות מעצבנים שמוציאים א...,"טוב, משהו שהייתי רוצה לעשות בעתיד נראה לי זה מ...",0,ש16.docx

In [20]:
raw_data.shape

(80, 20)

In [21]:
# Define the columns to reshape
image_columns = ['תמונה 1', 'תמונה 2', 'תמונה 3', 'תמונה 4', 'תמונה 5', 'תמונה 6', 
                 'תמונה 7', 'תמונה 8', 'תמונה 9', 'תמונה 10', 'תמונה 11', 'תמונה 12', 
                 'תמונה 13', 'תמונה 14' ,'בר מצווה', 'מה אוהב לעשות', 'מה מעצבן', 'משאלות לעתיד']


# Reshape the DataFrame
reshaped_df = raw_data.melt(
    id_vars=['file_name', 'label'],  # Columns that remain the same for each row
    value_vars=image_columns,     # Columns to melt (the image columns)
    var_name='question',          # Column name for the image identifier (e.g., תמונה 1)
    value_name='answer'           # Column name for the image descriptions
)

reshaped_df.rename(columns={"file_name": "person"}, inplace=True)

# Display the reshaped DataFrame
print(reshaped_df.shape)
reshaped_df.head(1)

(1440, 4)

     person  label question                                             answer
0  ש16.docx      0  תמונה 1  טוב אז יש פה ילד שהמשפחה שלו קנתה לו כינור במת...

In [22]:
# Find all rows where 'answer' is null or empty
empty_or_null_answers = reshaped_df[reshaped_df['answer'].isnull() | reshaped_df['answer'].str.strip().eq('') | reshaped_df['answer'].str.strip().eq('[]')]

# Display the rows with empty or null answers
empty_or_null_answers.head(50)

        person  label       question answer
1152  י24.docx      0       בר מצווה    NaN
1232  י24.docx      0  מה אוהב לעשות    NaN
1312  י24.docx      0       מה מעצבן    NaN
1346  אש7.docx      1       מה מעצבן    NaN
1392  י24.docx      0   משאלות לעתיד    NaN

In [23]:
scores_per_sentence_df_filtered.head(1)

   mean_attention_score question  label    person
0              0.778341  תמונה 1      0  ש16.docx

In [24]:
word_pred_llm_df.head(1)

     person  label question  mean_vector
0  ש16.docx      0  תמונה 1  2583.518519

In [25]:
tf_idf_df_filtered.head(1)

     person  label question  mean_tf_idf_seg_txt
0  ש16.docx      0  תמונה 1             0.120605

In [26]:
ground_truth_after_dimension_reduction_df.head(1)

     person  label     TSNE1    TSNE2     TSNE3
0  ש16.docx      0  73.57221 -54.0148 -5.597681

In [31]:
# Get unique values in 'person' column for both DataFrames
unique_tf_idf_person = tf_idf_df_filtered['person'].unique()
unique_ground_truth_person = ground_truth_after_dimension_reduction_df['person'].unique()

# Print the number of unique values
print(f"Unique 'person' values in tf_idf_df_filtered: {len(unique_tf_idf_person)}")
print(f"Unique 'person' values in ground_truth_after_dimension_reduction_df: {len(unique_ground_truth_person)}")

 
for i in unique_tf_idf_person:
    if i not in unique_ground_truth_person:
        x1 = i
        print(i)


for i in unique_ground_truth_person:
    if i not in unique_tf_idf_person:
        x2 =i
        print(i)

Unique 'person' values in tf_idf_df_filtered: 80
Unique 'person' values in ground_truth_after_dimension_reduction_df: 80
‎⁨י4⁩.docx
י4.docx

In [33]:
x1

'\u200e\u2068י4\u2069.docx'

In [32]:
x2

'י4.docx'

In [76]:
# Get all unique values in the 'person' column
unique_person_values = tf_idf_df_filtered['person'].unique()

# Print all unique values
print("Unique 'person' values in ground_truth_after_dimension_reduction_df:")
for value in unique_person_values:
    print(value)

Unique 'person' values in ground_truth_after_dimension_reduction_df:
ש16.docx
י20.docx
ש4.docx
י16.docx
ש20.docx
ש8.docx
ש9.docx
י17.docx
ש21.docx
ש5.docx
ש17.docx
י1.docx
י21.docx
י10.docx
ש26.docx
ש30.docx
ש10.docx
י26.docx
י6.docx
י30.docx
ש2.docx
ש3.docx
ש11.docx
י27.docx
י7.docx
י11.docx
ש27.docx
ש24.docx
י12.docx
י28.docx
י8.docx
ש28.docx
י24.docx
ש12.docx
י5.docx
י25.docx
ש13.docx
‎⁨י4⁩.docx
ש29.docx
ש1.docx
י29.docx
י9.docx
ש25.docx
י13.docx
י18.docx
י22.docx
י2.docx
ש14.docx
ש22.docx
י14.docx
ש18.docx
ש19.docx
ש23.docx
י15.docx
י23.docx
י3.docx
ש15.docx
י19.docx
ש7.docx
יפ11.docx
יפ6.docx
יפ7.docx
יפ10.docx
אש1.docx
אש6.docx
יפ1.docx
אש7.docx
יפ2.docx
אש4.docx
אש8.docx
אש5.docx
יפ3.docx
יפ8.docx
יפ4.docx
יפ13.docx
אש2.docx
יפ12.docx
אש3.docx
יפ5.docx
יפ9.docx

In [75]:
# Get all unique values in the 'person' column
unique_person_values = ground_truth_after_dimension_reduction_df['person'].unique()

# Print all unique values
print("Unique 'person' values in ground_truth_after_dimension_reduction_df:")
for value in unique_person_values:
    print(value)

Unique 'person' values in ground_truth_after_dimension_reduction_df:
ש16.docx
י20.docx
ש4.docx
י16.docx
ש20.docx
ש8.docx
ש9.docx
י17.docx
ש21.docx
ש5.docx
ש17.docx
י1.docx
י21.docx
י10.docx
ש26.docx
ש30.docx
ש10.docx
י26.docx
י6.docx
י30.docx
ש2.docx
ש3.docx
ש11.docx
י27.docx
י7.docx
י11.docx
ש27.docx
ש24.docx
י12.docx
י28.docx
י8.docx
ש28.docx
י24.docx
ש12.docx
י5.docx
י25.docx
ש13.docx
י4.docx
ש29.docx
ש1.docx
י29.docx
י9.docx
ש25.docx
י13.docx
י18.docx
י22.docx
י2.docx
ש14.docx
ש22.docx
י14.docx
ש18.docx
ש19.docx
ש23.docx
י15.docx
י23.docx
י3.docx
ש15.docx
י19.docx
ש7.docx
יפ11.docx
יפ6.docx
יפ7.docx
יפ10.docx
אש1.docx
אש6.docx
יפ1.docx
אש7.docx
יפ2.docx
אש4.docx
אש8.docx
אש5.docx
יפ3.docx
יפ8.docx
יפ4.docx
יפ13.docx
אש2.docx
יפ12.docx
אש3.docx
יפ5.docx
יפ9.docx

In [79]:
tf_idf_df_filtered.loc[~tf_idf_df_filtered["person"].isin(ground_truth_after_dimension_reduction_df['person'])]['person'].iloc[0]

'\u200e\u2068י4\u2069.docx'

In [38]:
# Merge the first two DataFrames with an outer join on 'person', 'label', and 'question'
final_merged_df = pd.merge(scores_per_sentence_df_filtered, word_pred_llm_df, on=['person', 'label', 'question'], how='outer')

final_merged_df = pd.merge(final_merged_df, tf_idf_df_filtered, on=['person', 'label', 'question'], how='outer')

# final_merged_df = pd.merge(final_merged_df, yap_df, on=['person', 'label', 'question'], how='outer')

final_merged_df.replace({'\u200e\u2068י4\u2069.docx':'י4.docx'} , inplace=True)
final_merged_df = pd.merge(final_merged_df, ground_truth_after_dimension_reduction_df, on=['person', 'label'] , how='outer')


# Display the result
final_merged_df.head()

,mean_attention_score,question,label,person,mean_vector,mean_tf_idf_seg_txt,TSNE1,TSNE2,TSNE3
0,0.599159,בר מצווה,1,אש1.docx,1687.038961,0.127176,-41.002922,-29.769234,-5.931169
1,NaN,מה אוהב לעשות,1,אש1.docx,12709.600000,0.707107,-41.002922,-29.769234,-5.931169
2,NaN,מה מעצבן,1,אש1.docx,4555.571429,0.339200,-41.002922,-29.769234,-5.931169
3,0.445655,משאלות לעתיד,1,אש1.docx,4350.703704,0.217150,-41.002922,-29.769234,-5.931169
4,NaN,תמונה 1,1,אש1.docx,2577.379310,0.173194,-41.002922,-29.769234,-5.931169

In [39]:
final_merged_df.shape

(1440, 9)

In [40]:
# all the person + question that in empty_or_null_answers remove from final_merged_df
# Extract 'person' and 'question' pairs from empty_or_null_answers
pairs_to_remove = empty_or_null_answers[['person', 'question']]

# Merge the pairs to remove with final_merged_df to get rows to exclude
filtered_final_merged_df = final_merged_df.merge(pairs_to_remove, on=['person', 'question'], how='left', indicator=True)

# Filter out rows where the merge indicator is 'both', meaning the pair is in empty_or_null_answers
filtered_final_merged_df = filtered_final_merged_df[filtered_final_merged_df['_merge'] == 'left_only'].drop(columns='_merge')

# Display the filtered DataFrame
filtered_final_merged_df.head(1)

,mean_attention_score,question,label,person,mean_vector,mean_tf_idf_seg_txt,TSNE1,TSNE2,TSNE3
0,0.599159,בר מצווה,1,אש1.docx,1687.038961,0.127176,-41.002922,-29.769234,-5.931169

In [41]:
# Total NaN values in the entire DataFrame
total_nulls = filtered_final_merged_df.isnull().sum().sum()

# Display the total count of NaN values
print(f"Total NaN values in the DataFrame: {total_nulls}")

Total NaN values in the DataFrame: 132

In [42]:
# Count of NaN values in each column
nulls_per_column = filtered_final_merged_df.isnull().sum()

# Display the count of NaN values per column
print(nulls_per_column)

mean_attention_score    130
question                  0
label                     0
person                    0
mean_vector               0
mean_tf_idf_seg_txt       2
TSNE1                     0
TSNE2                     0
TSNE3                     0
dtype: int64

In [43]:
# Count of NaN values in each row
nulls_per_row = filtered_final_merged_df.isnull().sum(axis=1).sum()

# Display the count of NaN values per row
print(nulls_per_row)

132

In [44]:
filtered_final_merged_df['mean_attention_score'].describe()

count    1305.000000
mean        0.603158
std         0.092006
min         0.300384
25%         0.539759
50%         0.606285
75%         0.665713
max         0.872210
Name: mean_attention_score, dtype: float64

In [45]:
# Calculate the mean of 'mean_tf_idf_seg_txt', excluding NaNs
mean_tf_idf = filtered_final_merged_df['mean_tf_idf_seg_txt'].mean()

# Replace NaN values in 'mean_tf_idf_seg_txt' with the calculated mean
filtered_final_merged_df['mean_tf_idf_seg_txt'].fillna(mean_tf_idf, inplace=True)

# Count of NaN values in each column
nulls_per_column = filtered_final_merged_df.isnull().sum()

# Display the count of NaN values per column
print(nulls_per_column)

mean_attention_score    130
question                  0
label                     0
person                    0
mean_vector               0
mean_tf_idf_seg_txt       0
TSNE1                     0
TSNE2                     0
TSNE3                     0
dtype: int64

/var/folders/qw/xg8gc9qd673350wtlpq7lzmm0000gn/T/ipykernel_38823/1679102044.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  filtered_final_merged_df['mean_tf_idf_seg_txt'].fillna(mean_tf_idf, inplace=True)

In [46]:
# Calculate the mean of 'mean_tf_idf_seg_txt', excluding NaNs
mean_tf_idf = filtered_final_merged_df['mean_attention_score'].mean()

# Replace NaN values in 'mean_tf_idf_seg_txt' with the calculated mean
filtered_final_merged_df['mean_attention_score'].fillna(mean_tf_idf, inplace=True)

# Count of NaN values in each column
nulls_per_column = filtered_final_merged_df.isnull().sum()

# Display the count of NaN values per column
print(nulls_per_column)

mean_attention_score    0
question                0
label                   0
person                  0
mean_vector             0
mean_tf_idf_seg_txt     0
TSNE1                   0
TSNE2                   0
TSNE3                   0
dtype: int64

/var/folders/qw/xg8gc9qd673350wtlpq7lzmm0000gn/T/ipykernel_38823/1114138663.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  filtered_final_merged_df['mean_attention_score'].fillna(mean_tf_idf, inplace=True)

In [47]:
print(filtered_final_merged_df.shape)
filtered_final_merged_df.head()

(1435, 9)

,mean_attention_score,question,label,person,mean_vector,mean_tf_idf_seg_txt,TSNE1,TSNE2,TSNE3
0,0.599159,בר מצווה,1,אש1.docx,1687.038961,0.127176,-41.002922,-29.769234,-5.931169
1,0.603158,מה אוהב לעשות,1,אש1.docx,12709.600000,0.707107,-41.002922,-29.769234,-5.931169
2,0.603158,מה מעצבן,1,אש1.docx,4555.571429,0.339200,-41.002922,-29.769234,-5.931169
3,0.445655,משאלות לעתיד,1,אש1.docx,4350.703704,0.217150,-41.002922,-29.769234,-5.931169
4,0.603158,תמונה 1,1,אש1.docx,2577.379310,0.173194,-41.002922,-29.769234,-5.931169

In [ ]:
# filtered_final_merged_df.to_csv(f"{parent_dir}/Data/features_4_model.csv" , index = False)